body {
    padding: 20px;
}
.center {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

button {
    border: 0;
    border: 1px solid gray;
    margin: 5px;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}

a {
    border-bottom: 1px solid blue;
}

a:hover {
    background-color: blue;
    color: #e4e4e4 !important;
    cursor: pointer;
}

.add-sheet-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    border-top: 2px solid royalblue;
    background-color: #e4e4e4;
}

.cascading-dropdowns {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}

table tr:nth-child(even) {
    color: #555;
    background-color: #ffffdd;
}

table tr td:nth-child(3) {
    text-align: center;
}

table tr th {
    color: brown;
    padding: 5px;
}

table tr th:nth-child(3) {
    text-align: center;
}

.watched-table {
    height: 55vh;
    width: 100%;
    overflow-x: scroll;
    padding: 5px;
    border: 1px dashed gray;
}
